@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin:0;
    padding:0;

    font-family: Roboto, sans-serif;

    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 5px 10%;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left{
    font-size: 22px;
    font-weight: 900;
    font: #F9FAF8;
}

.right{
    font-size: 18px;
    font: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    font-size: 12px;
    color: #E5E7EB;
}

.lander {
    background-color: #1F2937;
    padding:6% 10%;

    display: flex;
    align-items: center;
    gap: 3%;
}

.lander-left {
    flex:2;
    flex-direction: column;
}

.lander-right {
    flex:1;
    flex-direction: column;
}

img {
    max-width:100%;
}

.lander h1 {
    font-size: 44px;
    font-weight: 900;
    color: #F9FAF8;
}

.hsub {
    font-size: 18px;
    color: #E5E7EB;
}

.about {
    padding: 5% 10%;
    color: #1F2937;
}

.about h1 {
    font-size: 44px;
    font-weight: 900;


    text-align: center;
}

.about-txt {
    font-size: 18px;
    background-color: #E5E7EB;
    padding: 5%;
}

.projects {
    padding: 5% 10%;
}
.projects h2 {
    text-align: center;
}
.projects ul {
    display:flex;

    align-items: stretch; /* Makes sure all boxes have the same height */
    gap: 30px;
}

.projects li {
    flex: 1;
    list-style-type: none;

    padding: 2%;
}

.project-image {
    max-width: 100%;
    height: auto;


    border: solid 7px #3882f6;
    border-radius: 10px;
}
.projects li a {
    text-decoration: none;
}


/*
.competitions {
    padding: 5% 10%;
}
.competitions h2 {
    text-align: center;
}
.competitions ul {
    display:flex;
}

.competitions li {
    flex: 1;
    list-style-type: none;
}*/

.main {
    /*padding:10%;*/
}